// ==========================================================================
// VARIABLES
// ==========================================================================
// NOTE: If you're going to change any of these, you'll also need
// to change the corresponding variables in the core library JS

$CORE_CLASS: 'bpc';

$BP_PREFIX: '-';
$BP_CONTENT: '#{$CORE_CLASS}__content';
$BP_BROWSER: '#{$CORE_CLASS}__browser';

$DEBUG_MODIFIER: '-debug';
$DEBUG_INDICATOR: '#{$CORE_CLASS}__debugIndicator';
$DEBUG_IDENTIFIER: '#{$CORE_CLASS}__debugIdentifier';
